#floating-chat-icon.bayern-red-background
    i.fa.fa-commenting-o.fa-3x

#chat-box
    .chat-frame
        .ul
        div.wrap-input80
            .text-wrap
                textarea.input100#chat-box-text(placeholder='Enter your message' rows='1')
                span.pull-right#send-btn
                    a#send-msg(href='#')
                        i.fa.fa-paper-plane-o.fa-2x