.component
        button.cn-button#cn-button= "+"
        .cn-wrapper#cn-wrapper
            ul
                li
                    a
                        span.icon-picture
                li
                    a
                        span.icon-headphones

                li
                    a
                        span.icon-home

                li
                    a
                        span.icon-envelope-alt
                li
                    a
                        span.icon-facetime-video
        #cn-overlay.cn-overlay