extends layout

block content
    .background2
        .stream-wrapper
            .row.full-width-height
                .col-md-7.full-width-height
                    iframe.video-container(src="https://www.youtube.com/embed/-d3vrWScBik" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen)

                .col-md-5#drag-drop-section

block append footer
  script(src="https://www.gstatic.com/firebasejs/4.9.0/firebase.js")
  script(src="/custom/connectToFirebase.js")
  script.
    var database = connectToFirebase();
