body {
  padding: 50px;
  font: 14px 'Lato', Arial, sans-serif;
}

a {
  color: #00B7FF;
}

input:focus, button:focus {
  outline:none !important;
}

body.background {
  background: url('../images/background.jpg') no-repeat;
  background-size: cover;
  height: 100vh;
}

.font-white {
  color: white !important;
}

.bottom-text-container {
  width: 250px;
  bottom: 100px;
  margin-left: 100px;
  position: absolute;
}

.top-text-container {
  width: 250px;
  margin-top: 50px;
  margin-left: 100px;
  position: absolute;
}

.video-wrapper {
  opacity: 0.7;
}

.video-container {
  height: 100%;
  top: 0px;
  right: 0px;
  background-color: white;
  position: absolute;
}

#videoElement {
  margin-top: 190px;
}

#infoSection {
  background-color:rgba(255, 255, 255, 0.8);
  width: 100%;
  height: 100%;
}

#infoSection span {
  display: inline-block;
}

#imageSpan {
  height: 100%;
  width: 30%;
}

#infoSpan {
  width: 65%;
  text-align: center;
}

#map {
  height: 100%;
}

#floating-panel {
  position: absolute;
  top: 10px;
  left: 25%;
  z-index: 5;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #999;
  text-align: center;
  font-family: 'Roboto','sans-serif';
  line-height: 30px;
  padding-left: 10px;
}
#warnings-panel {
  width: 100%;
  height:10%;
  text-align: center;
}

#container {
  margin: 0px auto;
  width: 100%;
  height: 70vh;
  vertical-align: middle;
}

#videoElement {
  background-color: #666;
}

.circle {
  height: 150px;
  width: 150px;
  border-radius: 150px;
  margin: 0 auto;
  opacity: 0.8;
}

.number {
  font-size: 4em;
}

.withUnit {
  vertical-align: middle;
}

.small-circle {
  margin-top: 30px;
  width: 90px;
  height: 90px;
  border-radius: 90px;
}

.background-red {
  background-color: #C65050;
}

.time-display {
  font-size: 3em;
}

.transaction-info {
  font-size: 1.2em;
}

.icon-map2:before {
  content: "\e94c";
}

.icon-list2:before {
  content: "\e9bb";
}

.font-red {
  color: #C65050;
}

.background-white {
  background-color: #fff;
}

.padding-top-10px {
  padding-top: 10px;
}

.padding-top-8px {
  padding-top: 8px;
}
.padding-top-neg10px {
  top: -10px;
}

.padding-top-21px {
  padding-top: 21px;
}

.padding-top-30px {
  padding-top: 30px;
}

.margin-top-35px {
  margin-top: 35px;
}

.margin-top-50px {
  margin-top: 50px;
}

.margin-top-60px {
  margin-top: 60px;
}

.margin-top-100px {
  margin-top: 100px;
}

.mapButton {
  position: absolute;
  width: 50px;
  border: none;
  background-color: rgba(0,0,0,0);
}

.img-circle {
  border-radius: 50%;
}

#back {
  top: 50px;
  left: 0px;
  bottom: 50px;
}

#back:hover {
  background-image: url('../images/back.png');
  background-repeat: no-repeat;
  background-position: left center;
  background-attachment: fixed;
}

#forward {
  top: 50px;
  right: 0px;
  bottom: 50px;
}

#forward:hover {
  background-image: url('../images/forward.png');
  background-repeat: no-repeat;
  background-position: right center;
  background-attachment: fixed;
}

.border-head h5 {
    margin-top: 20px;
    margin-bottom: 20px;
	margin-left: 15px;	
    padding-bottom: 5px;
    font-weight: normal;
    font-size: 18px;
    display: inline-block;
    width: 100%;
    font-weight: 700;
    color: #989898;
}

.custom-bar-chart {
    height: 290px;
    margin-top: 20px;
    margin-left: 20px;
    position: relative;
    border-bottom: 1px solid #c9cdd7;
}

.custom-bar-chart .bar {
    height: 100%;
    position: relative;
    width: 6%;
    margin: 0px 4%;
    float: left;
    text-align: center;
    z-index: 10;
}

.custom-bar-chart .bar .title {
    position: absolute;
    bottom: -30px;
    width: 100%;
    text-align: center;
    font-size: 11px;
}

.custom-bar-chart .bar .value {
    position: absolute;
    bottom: 0;
    background: #ff865c;
    color: #68dff0;
    width: 100%;
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.mt {
	margin-top: 25px;
}

.tooltips {
  position: absolute;
  z-index: 1070;
  display: block;
  font-size: 12px;
  line-height: 1.4;
  visibility: visible;
  filter: alpha(opacity=0);
  opacity: 0;
}

.bar {
	display: inline-block;
	height: 200px;
	background-color: #fff;
}

.pricing-table {
	-webkit-box-shadow: 0px 0px 3px #26292e;
	box-shadow: 0px 0px 3px #26292e;
	display: inline-block;
	margin: 30px 10px;
	width: 250px;
}

.pricing-table-header {
	background: #65707f; /* Old browsers */
	background: -moz-linear-gradient(top,  #65707f 0%, #4a5564 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#65707f), color-stop(100%,#4a5564)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #65707f 0%,#4a5564 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #65707f 0%,#4a5564 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #65707f 0%,#4a5564 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #65707f 0%,#4a5564 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#65707f', endColorstr='#4a5564',GradientType=0 ); /* IE6-9 */
	background-color: #586272;
	-webkit-border-radius: 5px 5px 0px 0px;
	-moz-border-radius: 5px 5px 0px 0px;
	border-radius: 5px 5px 5px 5px;
	padding: 16px;
	text-align: center;
}

.pricing-table-header h1 {
	color: #ffffff;
	font-size: 14px;
	text-transform: uppercase;
}

.pricing-table-content {
	background-color: #ffffff;
	-webkit-border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
}

.pricing-table-content ul {
	list-style: none;
}

.pricing-table-content ul li {
	border-bottom: 1px solid #efeff0;
	font-size: 14px;
	padding: 16px 56px;
	color: #586272;
}

.featured {
	-webkit-transform: scale(1.1, 1.1);
	-moz-transform: scale(1.1, 1.1);
	-ms-transform: scale(1.1, 1.1);
	-o-transform: scale(1.1, 1.1);
	transform: scale(1.1, 1.1);
}